body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;

}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.logo {
    width: 5%;

}

.header_inner {
    padding: 2%;

    display: flex;
    justify-content: space-between;

    align-items: center;

    border-bottom: 1px solid #000;
}

.menu {
    list-style: none;
    display: flex;

    text-transform: uppercase;
    margin-right: 30%;
}

.menu li {
    margin-left: 15%;
}

.menu a {
    text-decoration: none;
    color: #000;

    font-size: 18px;
}
