body {
    margin: 0;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 13px;

    color: #d9d9da;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;

    text-transform: uppercase;
}

p {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

/*Навигация*/

.logo {
    width: 5%;

}

header {
    background-color: #1d2424;
}

.header_inner {
    padding: 2%;

    display: flex;
    justify-content: space-between;

    align-items: center;
}

.menu {
    list-style: none;
    display: flex;

    text-transform: uppercase;
    margin-right: 30%;
}

.menu li {
    margin-left: 15%;
}

.menu a {
    text-decoration: none;
    color: #d9d9da;

    font-size: 18px;
}

.menu li:hover{
    border-bottom: 1px solid #d9d9da;
    transition: .1s;
}

/*Название страницы*/

.main_title {
    background-color: #d0c3bd;
}

.main_title h1 {
    display: flex;
    justify-content: center;

    padding: 1% 0;
    color: #1d2424;
}

/*Содержание страницы*/

.main {
    background-color: #3d6a66;
}

.block {
    background-color: #d9d9da;
    
    display: flex;
    flex-wrap: wrap;

    padding-top: 5%; 
}

.features {
    padding-top: 5%;
    padding-bottom: 5%;

    text-align: center;

}

.features_item {
    width: 33%;
    padding: 0 40px;

}

.features_icon {
    margin-bottom: 10%;

}

.features_title {
    color: #1d2424;
    font-size: 14px;

    margin-bottom: 10%;
}

/*банкноты*/

.bank__text {
    text-align: center;
    margin-top: 2%;

    font-size: 14px;
}


/*Конец страницы*/

footer {
    background-color: #1d2424;
}

.footer_inner p{
    padding-top: 1%;
    font-size: 22px;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    color: #d9d9da;
}

.footer_adres {
    display: flex;
    justify-content: space-between;
}